<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>{{ object.name }}</h1>
            <label>Гражданство: {{ object.citizenship }}</label>
            <label>Год рождения: {{ object.choice_text }}</label>
            <label>Место работы: {{ object.choice_text }}</label>
        </legend>
            <label>Информация о счетах</label>
            <label>Номер аккаунта: {{ object.number }}</label>
            <label>Тип аккаунта: {{ account.account_type }}</label>
            <label>{{ account.credit.sum }}</label>
    </fieldset>
</form>

</body>
</html>